<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <h3>Please rate our services</h3>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="rating">Rating:</label>
              <ngb-rating
                id="rating"
                [(rate)]="currentRate"
                [max]="5" 
                formControlName="rating">
              </ngb-rating> 
              <small id="ratingHelp" class="form-text text-muted">1 being lowest 5 being highest</small>
            </div>
          </div>
        </div>
        <div *ngIf="currentRate < 4 && currentRate != 0" class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="reason">Reason for rating:</label>
              <textarea
                type="text"
                id="reason"
                class="form-control"
                formControlName="reason"
                rows="4"
                [required]="currentRate < 4"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button 
              type="submit" 
              class="btn btn-success"              
              [disabled]="(currentRate == 0) || 
              (currentRate < 4 && 
              (this.feedbackForm.value['reason'] == null || this.feedbackForm.value['reason'] == ''))">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>